
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-note-beamed:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */
